@model ScoutCheersWeb.Models.Cheer

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<fieldset>
    <legend>Details</legend>

    <p>
        @Model.Description
    </p>
</fieldset>
<p>
    @if (User.IsInRole("administrator"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }

    <a href="@Url.Action("Random")" class="btn">Next (random)</a>
    <a href="@Url.Action("Index")" class="btn">All Cheers</a>
</p>
